@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-Black.woff2') format('woff2'),
    url('/fonts/Monocraft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-Bold.woff2') format('woff2'),
    url('/fonts/Monocraft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-Black-Italic.woff2') format('woff2'),
    url('/fonts/Monocraft-Black-Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-Italic.woff2') format('woff2'),
    url('/fonts/Monocraft-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-ExtraLight.woff2') format('woff2'),
    url('/fonts/Monocraft-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-Light-Italic.woff2') format('woff2'),
    url('/fonts/Monocraft-Light-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-ExtraLight-Italic.woff2') format('woff2'),
    url('/fonts/Monocraft-ExtraLight-Italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-Bold-Italic.woff2') format('woff2'),
    url('/fonts/Monocraft-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-SemiBold.woff2') format('woff2'),
    url('/fonts/Monocraft-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-SemiBold-Italic.woff2') format('woff2'),
    url('/fonts/Monocraft-SemiBold-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft-Light.woff2') format('woff2'),
    url('/fonts/Monocraft-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iceland';
    src: url('/fonts/Iceland-Regular.woff2') format('woff2'),
    url('/fonts/Iceland-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


